# Ignore compiled/build artifacts
__pycache__/
.pytest_cache/
.idea/
**/logs/
*.tar.gz
*.jar
**/.venv
.uv/

# Ignore data
*.csv


# Ignore environment variables
.env
/secrets

# dbt-specific files
target/
dbt_packages/
logs/
*.log

# dbt artifacts & state
state/

# Environment and user-specific configurations
.user.yml

# Lock files and metadata
package-lock.yml